
@{
    ViewData["Title"] = "Index";
}

@inject BeluqaTahirDbContext db

@{
    var person = db.accountdetails.FirstOrDefault(p => p.DeleteByUserId == null);
}

<div class="site-navbar-wrap">
    <div class="site-navbar-top">
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex mr-auto">
                        <a href="#" class="d-flex align-items-center mr-4">
                            <span class="icon-envelope mr-2"></span>
                            <span class="d-none d-md-inline-block">@person.Email</span>
                        </a>
                        <a href="#" class="d-flex align-items-center mr-auto">
                            <span class="icon-phone mr-2"></span>
                            <span class="d-none d-md-inline-block">@person.Phone</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="mr-auto">

                        @if (User.Identity.IsAuthenticated)
                        {


                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>@User.Identity.Name.ToUpper()</span></a>
                            <a asp-controller="Home" asp-action="Logout" class="p-2 pl-0"><span>Logout</span></a>

                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>LOG IN</span></a>
                            <a asp-controller="Home" asp-action="Register" class="p-2 pl-0"><span>SING UP</span></a>
                        }
                        <a href="@person.Twwiter" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                        <a href="@person.Facebook" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="@person.Linkedin" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="@person.Instagram" class="p-2 pl-0"><span class="icon-instagram"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <h1 class="my-0 site-logo">
                        <a class="LIQUOR" href="index.html">LIQUOR STORE</a>
                    </h1>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span style="color: chocolate;" class="icon-menu h3"></span></a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                <li class="active">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                                </li>

                                <li>
                                    <a asp-controller="Shop" asp-action="Index" class="nav-link">Product</a>
                                </li>
                                <li>
                                    <a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                                </li>

                                <li>
                                    <a href="#contact-section" class="nav-link">
                                        <span>
                                        <i class="fas fa-shopping-basket"></i>
                                        </span>
                                        <sup>3</sup>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero" style="background-image: url('assets/images/gagasim-1.jpg');">
    <div class="text">
        <h1>
            Good
            <span> Drink </span>
            for Good
            <span>Moments.</span>

        </h1>


    </div>
</div>


<!-- Services -->
<div class="info">

    <div class="container baby">
        <a data-aos="fade-up" class="card2 col-md-4" href="#">
            <h3>ONLINE SUPPORT 24/7</h3>
            <p class="small">
                A small river named Duden flows by their place and supplies it with the necessary regelialia.

            </p>

            <div class="go-corner" href="#">
                <div class="go-arrow">

                </div>
            </div>
        </a>
        <a data-aos="fade-up" class="card2 col-md-4" href="#">
            <h3>
                MONEY BACK GUARANTEE
            </h3>
            <p class="small">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

            <div class="go-corner" href="#">
                <div class="go-arrow">
                </div>
            </div>
        </a>
        <a data-aos="fade-up" class="card2 col-md-4" href="#">
            <h3>
                FREE SHIPPING & RETURN
            </h3>
            <p class="small">
                A small river named Duden flows by their place and supplies it with the necessary regelialia.

                .
            </p>

            <div class="go-corner" href="#">
                <div class="go-arrow">

                </div>
            </div>
        </a>
    </div>

</div>

<!-- New Taste -->

<div class="container">
    <div data-aos="fade-right" class="row mt-5">
        <div style="background-image: url(./assets/images/gagasim-2.jpg);background-size: cover;" class="col-md-6 yeah">

        </div>
        <div data-aos="fade-up" class="col-md-6 yeah">

            <span>Since 1905</span>
            <h2>Desire Meets A New Taste</h2>
            <p>
                A small river named Duden f
                lows by their place and supplies it with the
                necessary regelialia. It is a paradisematic country,
                in which roasted parts of sentences fly into your mouth.
            </p>
            <p>
                On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.

            </p>
            <div class="count">
                <p class="count">115</p>
                <p class="fak">Years of Experience In Business</p>
            </div>

        </div>
    </div>
</div>


<!-- drink image -->

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-3 res1 res col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/gagasin-3.jpg" alt="Avatar" style="width:200px;height:200px; border-radius: 50%;">
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/images/gagasin-3.jpg" alt="Avatar" style="width:200px;height:200px; border-radius: 50%;">

                        <p style="color: black;">Brandy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 res col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/gagasim-4.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/images/gagasim-4.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">

                        <p style="color: black;">Gin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 res col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/gagaswim-5.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/images/gagaswim-5.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">

                        <p style="color: black;">Tequila</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 res col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/gagasim-6.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/images/gagasim-6.jpg" alt="Avatar" style="width:200px;height:200px;border-radius: 50%;">

                        <p style="color: black;">Whiskey</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Product image -->
<div class="Tastefully ">
    <div class="container">
        <p>Our Delightful offerings</p>
        <h2>Tastefully Yours</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 drinkimage resdrink  col-md-6">

            <div class="product-field">
                <ul class="itemsss">
                    <li data-category="" data-price="">
                        <picture>
                            <img src="./assets/images/gagasim-4.jpg" alt="">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-share-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong>Watch</strong>
                            <span>Lorem, ipsum dolor sit amet consectetur.</span>
                            <small>Buy now</small>
                        </div>
                        <h4 class="qymet">$45.78</h4>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-3 drinkimage resdrink  col-md-6">

            <div class="product-field">
                <ul class="itemsss">
                    <li data-category="" data-price="">
                        <picture>
                            <img src="./assets/images/gagasim-4.jpg" alt="">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-share-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong>Watch</strong>
                            <span>Lorem, ipsum dolor sit amet consectetur.</span>
                            <small>Buy now</small>
                        </div>
                        <h4 class="qymet">$45.78</h4>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-3 drinkimage resdrink  col-md-6">

            <div class="product-field">
                <ul class="itemsss">
                    <li data-category="" data-price="">
                        <picture>
                            <img src="./assets/images/gagasim-4.jpg" alt="">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-share-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong>Watch</strong>
                            <span>Lorem, ipsum dolor sit amet consectetur.</span>
                            <small>Buy now</small>
                        </div>
                        <h4 class="qymet">$45.78</h4>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-3 drinkimage resdrink  col-md-6">

            <div class="product-field">
                <ul class="itemsss">
                    <li data-category="" data-price="">
                        <picture>
                            <img src="./assets/images/gagasim-4.jpg" alt="">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-share-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong>Watch</strong>
                            <span>Lorem, ipsum dolor sit amet consectetur.</span>
                            <small>Buy now</small>
                        </div>
                        <h4 class="qymet">$45.78</h4>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>




<!--
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a href="" class="btn btn-primary d-block">
        View All Product   ->
      </a>
    </div>
  </div>
</div> -->
<!-- karusel -->

<div style="background-image:url(./assets/images/gagasim-11.jpg);" class="karusel">

    <p>Testimonial</p>
    <h2>Happy Clients</h2>

    <div class="container">

        <div class="col-12">

            <div class="container1">
                <div class="faders">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>

                <div class="items">
                    <div class="entry">
                        <p class="name">Ismayilov Eltun</p>
                        <img class="faking" src=https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto =format%2Ccompress&cs =tinysrgb&dpr =2&h =650&w =940" alt="Smiling person" />
                        <p class="quote">"Ye ic kayf ele 5 gunluk dunyadi"</p>
                    </div>
                    <div class="entry">
                        <p class="name">Anar Memmedov</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Seninkide yasayis deyil haa.."</p>
                    </div>
                    <div class="entry">
                        <p class="name">Ilham Bagiraz</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Gaga siqaret verde "</p>
                    </div>
                    <div class="entry">
                        <p class="name">Bahman Memmedov</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Gagasim bir canciyer 2 ..."</p>
                    </div>
                    <div class="entry">
                        <p class="name">Qubad Memmedov</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Meni narahat elemiyin (kayfadadi)"</p>
                    </div>
                    <div class="entry">
                        <p class="name">Yusif Bagiraz</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Gaga ana seyfe yazmisam"</p>
                    </div>
                    <div class="entry">
                        <p class="name">Samxal Memmedov</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Gaga bomba seydi ha"</p>
                    </div>
                    <div class="entry">
                        <p class="name">John Doe</p>
                        <img class="faking" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Smiling person" />
                        <p class="quote">"Man, I think this app freaking rocks and stuff. Dude."</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- blogk -->

<div data-aos="fade-up" class="blog">
    <p>Blog</p>
    <h2>Recent Blog</h2>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div data-aos="fade-up" class="col-lg-6 blog-post post">

            <div class="blog-post__div">

                <a href="" style="background-image: url(./assets/images/blog-1.jpg); background-size: cover;background-position: center center;"></a>

                <div class="blog-post__div__desc">
                    <i class="fa fa-calendar"></i>
                    <p>23 April 2020</p>
                    <h3>
                        <p href="index.html">The Recipe from a Winemaker’s Restaurent</p>

                    </h3>
                    <p class="small">
                        A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    </p>
                    <a class="Continue" href="">
                        Continue
                        <i style="margin-left: 0px;color: red;display: inline-block;font-size: 12px;" class="fa fa-long-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>
        <div data-aos="fade-up" class="col-lg-6 blog-post post responsive">

            <div class="blog-post__div">

                <a href="" style="background-image: url(./assets/images/blog-2.jpg); background-size: cover;background-position: center center;"></a>

                <div class="blog-post__div__desc">
                    <i class="fa fa-calendar"></i>
                    <p>23 April 2020</p>
                    <h3>
                        <p href="index.html">The Recipe from a Winemaker’s Restaurent</p>

                    </h3>
                    <p class="small">
                        A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    </p>
                    <a class="Continue" href="">
                        Continue
                        <i style="margin-left: 0px;color: red;display: inline-block;margin-top: px;font-size: 12px;" class="fa fa-long-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>
        <div data-aos="fade-up" class="col-lg-6 blog-post post responsive1">

            <div class="blog-post__div">

                <a href="" style="background-image: url(./assets/images/blog-3.jpg); background-size: cover;background-position: center center;"></a>

                <div class="blog-post__div__desc">
                    <i class="fa fa-calendar"></i>
                    <p>23 April 2020</p>
                    <h3>
                        <p href="index.html">The Recipe from a Winemaker’s Restaurent</p>

                    </h3>
                    <p class="small">
                        A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    </p>
                    <a class="Continue" href="">
                        Continue
                        <i style="margin-left: 0px;color: red;display: inline-block;margin-top: px;font-size: 12px;" class="fa fa-long-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>
        <div data-aos="fade-up" class="col-lg-6 blog-post post responsive2">

            <div class="blog-post__div">

                <a href="" style="background-image: url(./assets/images/blog-4.jpg); background-size: cover;background-position: center center;"></a>

                <div class="blog-post__div__desc">
                    <i class="fa fa-calendar"></i>
                    <p>23 April 2020</p>
                    <h3>
                        <p href="index.html">The Recipe from a Winemaker’s Restaurent</p>

                    </h3>
                    <p class="small">
                        A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    </p>
                    <a class="Continue" href="">
                        Continue
                        <i style="margin-left: 0px;color: red;display: inline-block;margin-top: px;font-size: 12px;" class="fa fa-long-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>



    </div>
</div>
