

@model BlogViewModel

@{
    ViewData["Title"] = "Details";

    IEnumerable<BlogPostComment> GetComments(BlogPostComment parent)
    {
        if (parent.ParentId != null)
        {
            yield return parent;
        }

        foreach (var item in parent.Children.SelectMany(c => GetComments(c)))
        {
            yield return item;
        }
    }
}

<div class="site-navbar-wrap">
    <div class="site-navbar-top">
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex mr-auto">
                        <a href="#" class="d-flex align-items-center mr-4">
                            <span class="icon-envelope mr-2"></span>
                            <span class="d-none d-md-inline-block">eltunhi@code.edu.az</span>
                        </a>
                        <a href="#" class="d-flex align-items-center mr-auto">
                            <span class="icon-phone mr-2"></span>
                            <span class="d-none d-md-inline-block">+994 77 566 31 61</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="mr-auto">

                        @if (User.Identity.IsAuthenticated)
                        {


                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>@User.Identity.Name.ToUpper()</span></a>
                            <a asp-controller="Home" asp-action="Logout" class="p-2 pl-0"><span>Logout</span></a>

                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>LOG IN</span></a>
                            <a asp-controller="Home" asp-action="Register" class="p-2 pl-0"><span>SING UP</span></a>
                        }
                        <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <h1 class="my-0 site-logo">
                        <a class="LIQUOR" href="index.html">LIQUOR STORE</a>
                    </h1>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span style="color: chocolate;" class="icon-menu h3"></span></a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                <li>
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                                </li>

                                <li>
                                    <a asp-controller="Shop" asp-action="Index" class="nav-link">Product</a>
                                </li>
                                <li class="active">
                                    <a asp-controller="Blog" asp-action="index" class="nav-link">Blog</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                                </li>
                                <li>
                                    <a href="#contact-section" class="nav-link">
                                        <span><i class="fas fa-shopping-basket"></i></span>
                                        <sup>@ViewBag.basket</sup>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

//Renderbdy
<div class="hero" style="background-image: url('https://preview.colorlib.com/theme/liquorstore/images/xbg_2.jpg.pagespeed.ic.CNGkvk0ls9.webp');height: 400px;">
    <div class="textone" data-aos="fade-up">
        <p style="text-align: center;padding-top: 139px;font-size: 20px;font-weight: 700;">
            <span>
                <a href="index.html" style="color: gray;">
                    HOME
                    <i class="fa fa-chevron-right"></i>
                </a>
            </span>
            <span>
                BLOG
                <i class="fa fa-chevron-right"></i>
            </span>
            <span>
                BLOG SINGLE
                <i class="fa fa-chevron-right"></i>
            </span>
        </p>
        <h2 style="text-align: center;color:white;font-size: 90px;">Blog Single</h2>
    </div>
</div>





<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 blogsingle yeah12 ">
            <img src="~/assets/images/@Model.BlogPosts.ImagePati" alt="">
            <h2>@Model.BlogPosts.Title</h2>
            <p class="p">
                @Model.BlogPosts.Description
            </p>
            <p style="margin-top:-10px" class="p">
                @Model.BlogPosts.ShopDescription
            </p>
            <h2 style="margin-top: 50px;">#2. Creative WordPress Themes</h2>
            <p id="renderboyddi">
                @Html.Raw(Model.BlogPosts.Body)
            </p>
            <div class="George">
                <div class="img">
                    <img src="~/assets/images/blog-single.jpg" alt="">
                </div>
                <div class="img1">
                    <h3>@Model.BlogPosts.CreateByUser?.UserName.ToUpper()</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!

                    </p>
                </div>
            </div>
            <h2 style="margin-top:50px">@Model.BlogPosts.Comments.Count() Comments</h2>


            <div class="comments">
                <ul id="faking" style="list-style-type:none;margin-left:-38px;margin-top:-190px">
                    @foreach (var item in Model.BlogPosts.Comments?.Where(a => a.ParentId == null))
                    {
                        <li style="margin-top:270px" class="comment" id="#c-@item.Id" data-comment-id="@item.Id">
                            <figure class="comment-media">
                                <a href="#">
                                    <img style="width:50px;height:16%;border-radius:50%;" src="~/assets/images/blog-single.jpg" alt="avatar">
                                </a>
                            </figure>
                            <div style="margin-top:-60px" class="comment-body">
                                <div class="comment-user">
                                    <h4>
                                        <a href="#">

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @User.Identity.Name.ToUpper()
                                            }
                                           


                                        </a>
                                    </h4>
                                    <span style="margin-top:12px;display:inline-block;color:#b7472a" class="comment-date">@item.CreateData.ToShortDateString()</span>
                                </div>

                                <div class="comment-content mb-2">
                                    <p style="margin-top:7px">
                                        @item.Comment
                                    </p>
                                </div>
                                <a href="#" class="btn btn-link btn-reveal-right btn-comment-reply">
                                    REPLY<i class="d-icon-arrow-right"></i>
                                </a>
                            </div>
                        </li>
                        @foreach (var subComment in GetComments(item))
                        {
                            <li class="comment ml-10" id="#c-@subComment.Id" data-comment-id="@subComment.Id">
                                <figure class="comment-media">
                                    <a href="#">
                                        <img style="width:50px;height:16%;border-radius:50%;margin-left:30px;margin-top:135px" src="~/assets/images/blog-single.jpg" alt="avatar">
                                    </a>
                                </figure>
                                <div style="margin-top:-60px" class="comment-body">
                                    <div class="comment-user">
                                                   <h4>
                                                       <a style="margin-left:25px" href="#">



                                                           @if (User.Identity.IsAuthenticated)
                                                           {
                                                               @User.Identity.Name.ToUpper()
                                                           }

                                                       </a>
                                        </h4>
                                        <span style="display:inline-block;color:#b7472a;margin-left:26px" class="comment-date">@subComment.CreateData.ToShortDateString()</span>
                             
                                    </div>

                                    <div class="comment-content mb-2">
                                       @* <a style="margin-left:26px" href="#c-@subComment.ParentId">@@@($"{subComment.Parent.CreateByUser?.UserName}")</a> &nbsp; &nbsp;*@
                                        <p style="margin-top:7px;margin-left:28px">
                                            @subComment.Comment
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-link btn-reveal-right btn-comment-reply">
                                        REPLY<i class="d-icon-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                        }
                    }


                </ul>
            </div>

         
            <div class="reply">
                <form method="post" id="replyForm">
                    <div id="replyToComment"></div>
                    <input type="hidden" name="postId" value="@Model.BlogPosts.Id" />
                    <textarea id="fakk" style="border:1px solid beige;display:inline-block;margin-top:115px" name="comment" cols="30" rows="6" class="form-control mb-4"
                              placeholder="Comment *" required></textarea>
                    <button  style="margin-top:10px" type="submit" class="btn btn-primary btn-rounded">
                        POST COMMENT<i class="d-icon-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>


        <div class="col-lg-4 blogsingle rigth yeah123">


            <div class="catagoriyes-drink">
                <h3>
                    Services
                </h3>
                <li style="margin-top: 50px;">
                    <a href="">Relation Problem <span class="fa fa-chevron-right"></span></a>
                </li>
                <li>
                    <a href="">Couples Counseling  <span class="fa fa-chevron-right"></span></a>
                </li>
                <li>
                    <a href="">Depression Treatment  <span class="fa fa-chevron-right"></span></a>
                </li>
                <li>
                    <a href="">Family Problem  <span class="fa fa-chevron-right"></span></a>
                </li>
                <li>
                    <a href="">Personal Problem  <span class="fa fa-chevron-right"></span></a>
                </li>
                <li>
                    <a href="">Business Problem  <span class="fa fa-chevron-right"></span></a>
                </li>
            </div>

            <h3 class="RecentBlog">Recent Blog</h3>

            <div class="catagoriyes-blog">
                <div style="display: flex;" class="catagoriyes-blog-image">

                    <div class="catagoriyes-blog-image-img" style="background-image: url(/assets/images/gagasim-4.jpg);"></div>

                    <div class="catagoriyes-blog-image-item">
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>

                </div>
                <div class="meta1">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
            </div>
            <div class="catagoriyes-blog">
                <div style="display: flex;" class="catagoriyes-blog-image">

                    <div class="catagoriyes-blog-image-img" style="background-image: url(/assets/images/gagasim-11.jpg);"></div>

                    <div class="catagoriyes-blog-image-item">
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>

                </div>
                <div class="meta1">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
            </div>
            <div class="catagoriyes-blog">
                <div style="display: flex;" class="catagoriyes-blog-image">

                    <div class="catagoriyes-blog-image-img" style="background-image: url(/assets/images/gagasim-6.jpg);"></div>

                    <div class="catagoriyes-blog-image-item">
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>

                </div>
                <div class="meta1">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div style="margin-left: 5px;"><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                </div>
            </div>

            <h3 class="RecentBlog">Paragraph</h3>
            <p class="paraqraff">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>


        </div>

    </div>
</div>


@section addcss
{
    <style>

        #faking li:first-child {
            margin-top: 100px;
        }

        #replyToComment:not(:empty) {
            border: 1px solid #1e1e1e;
            max-width: 100%;
            color: #999;
            padding: 20px;
            margin-left: 0;
            position: relative;
            margin-top: 195px;
            height: 300px;
            list-style: none;
        }

            #replyToComment:not(:empty) .comment {
                margin-top: 0px !important;
            }


        #replyToComment li.comment-sub {
            margin: 0;
        }

        #replyToComment .remove-selected-comment {
            color: red;
            position: absolute;
            font-size: 2rem;
            right: 8px;
            top: 0;
            padding: 10px;
        }
    </style>
}
@section addjs
{
    <script>
        $(document).ready(function () {
            $(".btn-comment-reply").click(function (e) {
                e.preventDefault();

                $("#replyToComment").html('<a href="javascript:removeReplySelected()" class="remove-selected-comment">&times;</a>').append($(e.currentTarget).closest(".comment").clone());

            });

            $("#replyForm").submit(function (e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);
                let toCommentId = $("#replyToComment li.comment").data("comment-id");

                if (toCommentId != undefined) {
                    formData.set("commentId", toCommentId);
                }
                console.log(formData);
                $.ajax({
                    url: '@Url.Action("PostComment")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType:"json",
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            location.reload();
                        }
                        else {
                            toastr.error(response.message, 'Error!');
                            location.reload();
                        }
                    },
                    error: function (response) {
                        if (response.statusText == "parsererror") {
                            if (toCommentId != undefined) {
                                $(response.responseText).insertAfter($(`#c-${toCommentId}`));

                                $("#replyToComment").html('');
                                e.currentTarget.reset();
                                location.reload();
                            }
                            else {
                                $("div.comments ul").append($(response.responseText));
                                location.reload();
                            }
                            location.reload();
                        }
                        location.reload();
                    }

                })


            })
        })

        function removeReplySelected() {
            $("#replyToComment").html("");
        }


    </script>



}


@*}<ul style="margin-top:50px" class="comment-list">
        @foreach (var comment in Model.BlogPosts.Comments.Where(c => c.ParentId == null))
        {
            <li class="comment" id="#c-@comment.Id" data-comment-id="@comment.Id">
                <div class="vcard bio">
                    <img src="/assets/images/blog-single.jpg">
                </div>
                <div class="comment-body">
                    <h3>@($"{comment.CreateByUser?.UserName.ToUpper()}")</h3>
                    <div class="meta">@comment.CreateData.ToString("MMMM d,yyyy HH:mm")</div>
                    <p class="context1">@comment.Comment</p>
                    <p>
                        <a class="reply  btn-comment-reply">Reply</a>
                    </p>
                </div>

            </li>
            @foreach (var subcomments in GetComments(comment))
            {
                <ul class="children">
                    <li style="margin-top: 50px;" class="comment" id="#c-@subcomments.Id" data-comment-id="@subcomments.Id">
                        <div class="vcard bio">
                            <img src="/assets/images/blog-single.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <a href="#c-@subcomments.ParentId">@($"{comment.CreateByUser?.UserName.ToUpper()}")</a>
                            <div class="meta">@subcomments.CreateData.ToString("MMMM d,yyyy HH:mm")</div>
                            <p>@subcomments.Comment</p>
                            <p><a class="reply btn-comment-reply">Reply</a></p>
                        </div>

                    </li>
                </ul>
            }

        }









    </ul>


    <div class="comment-form-wrap ">
        <h3 class="mb-5">Leave a comment</h3>
        <form method="post" class="p-5 bg-light" id="replyForm">
            <div id="replyToComment"></div>

            <div class="form-group">
                <label for="message">Message</label>
                <input type="hidden" name="postId" value="@Model.BlogPosts.Id" />

                <textarea name="" id="message" class="form-control"></textarea>
            </div>

            <input type="submit" value="Post Comment" class="btn bbn btn-primary">

        </form>
    </div>*@