@model PagedViewModel<BlogPost>

@{
    ViewData["Title"] = "Index";
}

<div class="site-navbar-wrap">
    <div class="site-navbar-top">
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex mr-auto">
                        <a href="#" class="d-flex align-items-center mr-4">
                            <span class="icon-envelope mr-2"></span>
                            <span class="d-none d-md-inline-block">eltunhi@code.edu.az</span>
                        </a>
                        <a href="#" class="d-flex align-items-center mr-auto">
                            <span class="icon-phone mr-2"></span>
                            <span class="d-none d-md-inline-block">+994 77 566 31 61</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="mr-auto">

                        @if (User.Identity.IsAuthenticated)
                        {


                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>@User.Identity.Name.ToUpper()</span></a>
                            <a asp-controller="Home" asp-action="Logout" class="p-2 pl-0"><span>Logout</span></a>

                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>LOG IN</span></a>
                            <a asp-controller="Home" asp-action="Register" class="p-2 pl-0"><span>SING UP</span></a>
                        }





                        <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <h1 class="my-0 site-logo">
                        <a class="LIQUOR" href="index.html">LIQUOR STORE</a>
                    </h1>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span style="color: chocolate;" class="icon-menu h3"></span></a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                <li>
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                                </li>

                                <li>
                                    <a asp-controller="Shop" asp-action="Index" class="nav-link">Product</a>
                                </li>
                                <li class="active">
                                    <a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                                </li>

                                <li>
                                    <a href="#contact-section" class="nav-link">
                                        <span><i class="fas fa-shopping-basket"></i></span>
                                        <sup>@ViewBag.basket</sup>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero" style="        background-image: url(https://preview.colorlib.com/theme/liquorstore/images/xbg_2.jpg.pagespeed.ic.CNGkvk0ls9.webp);
        height: 400px;">
    <div class="textone" data-aos="fade-up">
        <p style="text-align: center;padding-top: 159px;font-size: 20px;font-weight: 700;">
            <span>
                <a href="index.html" style="color: gray;">
                    HOME
                    <i class="fa fa-chevron-right"></i>
                </a>
            </span>
            <span>
                BLOG
                <i class="fa fa-chevron-right"></i>
            </span>
        </p>
        <h2 style="text-align: center;color:white;font-size: 90px;">Blog</h2>
    </div>
</div>

<!-- blog -->
<div style="margin-top:25px" class="container">
    <div class="row justify-content-between">

        @foreach (var item in Model.Items)
        {
            <div data-aos="fade-up" class="col-lg-6 blog-post post">

                <div class="blog-post__div">

                    <a asp-route-id="@item.Id" asp-action="Details" style="background-image: url(./assets/images/@item.ImagePati); background-size: cover;background-position: center center;"></a>

                    <div class="blog-post__div__desc">
                        <i class="fa fa-calendar"></i>
                        <p>@item.CreateData.ToString("d MMMM , yyyy")</p>
                        <h3>
                            <p href="index.html">@item.Title</p>

                        </h3>
                        <p class="small">
                            @item.Description
                        </p>
                        <a class="Continue" href="blog-single.html">
                            Continue
                            <i style="margin-left: 0px;color: red;display: inline-block;font-size: 12px;" class="fa fa-long-arrow-right"></i>
                        </a>

                    </div>

                </div>

            </div>
        }

       


    </div>
</div>

<!-- pagination -->
<nav class="paginationnav" aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#"><</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="#">></a>
        </li>
    </ul>
</nav>

<nav class="paginationnav" aria-label="...">
    @Model.GetPagenation(Url, "index")

    </nav>