
@inject BeluqaTahirDbContext db

@{
    var person = db.accountdetails.FirstOrDefault(p => p.DeleteByUserId == null);
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- INITIALIZE AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/fontawesome-5/fontawesome-css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>BeluqaTahir.com</title>

    @RenderSection("addcss", required: false);

    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />

    <style>
        .is-invalid {
            border: 1px solid red
        }

            .is-invalid + span.error {
                color: red;
                font-size: 1rem;
            }

        .is-valid {
            border: 1px solid teal;
        }
    </style>
</head>
<body>

    <!-- //Header -->
    <!-- Mobil menu  -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>





    @RenderBody()

    <!-- //footer -->

    <div style="background-color: #1a1a1a;margin-top: 100px;">
        <div style="padding-top:60px" class="container">
            <div class="row mt-5">
                <div class="col-lg-3 fott">
                    <a href="">
                        LIQUOR
                        <span>STORE</span>
                    </a>
                    <p>
                        Far far away, behind the word mountains, far from the countries.
                    </p>
                    <ul>
                        <li data-aos="fade-up">
                            <span class="fa fa-twitter"></span>
                        </li>
                        <li data-aos="fade-up">
                            <span class="fa fa-facebook"></span>
                        </li>
                        <li data-aos="fade-up">
                            <span class="fa fa-instagram"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 fott1">
                    <h2>My Accounts</h2>
                    <ul>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Register
                            </a>
                        </li>

                        <li>
                            <a href="login.html">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Log In
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                My Order
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 fott2">
                    <h2>
                        About us
                    </h2>
                    <ul>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Catalog
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Contact us
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Term & Conditions
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-chevron-right mr-2"></span>
                                Term & Conditions
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 fott3">
                    <form style="display:flex" method="post" asp-controller="Home" asp-action="Subscrice" novalidate
                          class="input-wrapper input-wrapper-inline"
                          id="form">
                        <input type="email"
                               class="form-control"
                               name="email"
                               id="email"
                               placeholder="Email address here..." />

                        <button style="margin-top:0px" class="btn btn-primary btn-rounded btn-md ml-2" type="submit">

                            subscribe<i class="d-icon-arrow-right"></i>
                        </button>

                    </form>

                    <ul style="padding-left: 30px;">
                        <li>
                            <a href="">
                                <span class="icon fa fa-map marker"></span>
                                @person.Address
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon fa fa-phone"></span>
                                @person.Phone
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon fa fa-paper-plane"></span>
                                @person.Email
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>





    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <!-- INITIALIZE AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('#form').validate({
                errorElement: 'span', // Cixan eror label yox span etdih
                // errorClass: 'is-invalid', // span error cixan zaman class
                //  validClass: 'is-valid', // span error cixan zaman class input class
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid').remove('is-valid')// eger error varsa
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-valid').remove('is-invalid') // eger error yoxdusa
                },
            });
        });
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    $(document).ready(function () {
    $('#form').submit(function (e) {
        e.preventDefault();
    if ($(e.currentTarget).valid() != true)
    return;
    const formData = new FormData(e.currentTarget);
    $.ajax({
    url: '@Url.Action("Subscrice")', // URL HELPERLER
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false,
    success: function (gelenData) {
    console.log(gelenData);
        if (gelenData.error == false) {
        toastr.success(gelenData.massege, 'ugurludur');
    e.currentTarget.reset(); // FORM BOSALDIR
    } else {
        toastr.error(gelenData.massege, 'xeta');
    }
    },
    error: function (gelenData) {
    console.log(gelenData);
    toastr.success('Teyin olunmamis xeta bas verib', 'Error');
    },
    });
    });
      //  const lang = `Context.GetCurrentCulture()`;
        const text = $(`[data-lang="${lang}"]`).text();
        $(`[data-lang-viewer="language"]`).text(text);
        $('[data-lang]').click(function (e) {
            e.preventDefault();
            let path = `${window.location.pathname}${window.location.search}`;
            let selectedlang = $(e.currentTarget).data('lang');
            let result = /\/(en|az|eu)?\/?(.*)?/.exec(path);
            if (result != null && result[2] != undefined) {
                path = `/${selectedlang}/${result[2]}`;
            }
            else if (result != null) {
                path = `/${selectedlang}`;
            }
            window.location.href = path;
        });
    });
    </script>

    @RenderSection("addjs", required: false);
</body>
</html>